@model MedicalHelper.Models.UserProfileViewModel

<div>
    @Model.Id
    @Model.FullName
    @Model.FirstName
    @Model.LastName
    @Model.DataOfBirth
    @Model.AvatarUrl
    @Model.Address

</div>