@using MedicalHelper.Models.UserProfile
@model UserProfileViewModel

<div>
    @Model.Id    
    @Model.FirstName
    @Model.LastName
    @Model.DataOfBirth
    @Model.AvatarUrl
    @Model.Address
</div>