

@model MedicalHelper.Models.UserProfile.UserProfileAddViewModel

<form action="/UserProfile/UserProfileAdd" method="post">
    <div class="field-box">
        <div class="filed-name">
            Enter FirstName
        </div>
        <div class="field-value">
            @Html.TextBoxFor(x => x.FirstName)           
        </div>
    </div>
    <div class="field-box">
        <div class="filed-name">
            Enter LastName
        </div>
        <div class="field-value">
            @Html.TextBoxFor(x => x.LastName)
        </div>
    </div>
    <div class="field-box">
        <div class="filed-name">
            Enter DataOfBirth
        </div>
        <div class="field-value">
            @Html.TextBoxFor(x => x.DataOfBirth)
        </div>
    </div>
    <div class="field-box">
        <div class="filed-name">
            Enter AvatarUrl
        </div>
        <div class="field-value">
            @Html.TextBoxFor(x => x.AvatarUrl)
        </div>
    </div>
    <div class="field-box">
        <div class="filed-name">
            Enter Address
        </div>
        <div class="field-value">
            @Html.TextBoxFor(x => x.Address)
        </div>
    </div>    
    <div> <input type="submit" value="Add" /></div>
</form>